/* alignment */
body {
  text-align: center;
  font-family: 'roboto+condensed', sans-serif;

}

img {
  max-width: 350px;
  max-height: 350px;
  display: block;
  margin: auto;
  padding: 10px;
}

h1 {
  background-color: #4d7c8a;
  color: #d7edfe;
  font-size: 50px;
}

h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}

ul {

  align-content: center;
  ;

}

li {
  font-weight: bold;
  height: 20px;

}

.icons {
  margin: 10px;
}

#grey {
  color: grey;

}

div.contactinfo {
  border: solid 5px #4d7c8a;
  height: 90px;
  width: 300px;
  background-color: antiquewhite;
  align-self: center;
  display: inline-block;
}

h3 {
  border-bottom: #4d7c8a solid 5px;
}